body{
  color: #DBE6FD;
  background: #293B5F;
  font-family: 'Tajawal', sans-serif;
}

a:link, a:visited {
   color: #DBE6FD; 
} 
a:hover { 
  color: #B2AB8C;
} 

button {
  border-radius: 4px;
  font-family: 'Tajawal', sans-serif;
}

.mainscreen {
  height: 100vh;
}

/* navbar */

.iReport {
  margin: 0 40px 0 10px;
  font-size: 24px;
}

.nav  {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  height: 9vh;
  background: #47597E;
}

.nav h1 {
  margin : 0px
}

.login-logout {
  margin-right: 5px;
  background: #fff;
  border-color: #fff;
  border-radius: 5px;
  font-family: 'Tajawal', sans-serif;
}


/* =============Home===================*/
.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.home-map {
  width: 60vw;
}

.latestMedia {
  width: 35vw;
}

.flex {
  display: flex; 
  justify-content: space-around;
  align-items: center
}

/* ==============Timeline============== */

.timeline {
  height: 90vh;
  overflow: scroll;
}

.search {
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 20px;
  width: 90%;
  position: sticky;
  top: 0;
  z-index: 2;
  font-family: 'Tajawal', sans-serif;
}

.each-post {
  display: flex; 
  align-items: center;
  margin-bottom: 3px;
}

.each-post:hover{
  cursor: pointer;
}

.each-post img{
  object-fit: contain;
  margin-right: 15px;
}
.each-post iframe{
  object-fit: contain;
  margin-right: 15px;
}
.time-line-map {
  object-fit: contain;
  margin-right: 15px;
  height: 75px;
  width: 100px
}

.each-post h1{
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.each-post h2{
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* =============Single Post Page================= */

.singlepost-header {
  display: flex;
  align-items: center;
}

.singlepost-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  justify-items: center;
  align-items: center;
}

.singlepost-content img {
  width: 30vw;
}

.singlepost-content iframe {
  width: 30vw;
}

.singlepost-map {
  height:120px;
  width:150px;
  margin: 20px;
}

.flex-singlepost {
  display: flex; 
  align-items: center
}

.created-by {
  margin: 0 10px 40px 0;
  text-align: right;
  font-size: 24px;
  font-weight: 100;
}

.created-by p{
  margin-bottom: 0;
  font-size: 18px
}

.created-by button {
  padding: px, 4px;
  font-family: 'Tajawal', sans-serif;
}

li {
  list-style: none;
}

.comments h2{
  margin-bottom: 0;
  margin-top: 24px
}

.comments p {
  margin-top: 0
}

.addcomment-input {
  font-family: 'Tajawal', sans-serif;
  padding : 2px 80px 2px 0px;
}

.addcomment-button{
  padding : 3px, 5px;
}



/* ================Popup=================== */

.popup-box {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 3;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 80vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #47597E;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #47597E;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 40px;
}


/* Sign up & Log in Page */
.sign-up {
  text-align: center;
}

.sign-up h1{
  margin-bottom: 24px;
  font-size: 24px;
}

.sign-up input {
  margin-bottom: 24px;
  font-size: 24px;
}

.sign-up button {
  margin-bottom: 24px;
  font-size: 24px;
}


/* CreatePost &
 EditAndDeletePost*/
.placeholder {
  margin: 20px;
}

.input-title {
  width: 400px;
}

.widget-button{
  border-radius: 4px;
  padding: 3px;
}

.posting {
  padding: 24px 48px;
  border-radius: 5%;
  margin-top: 32px;
  margin-bottom: 16px;
}

.posting-position {
  display: flex;
  justify-content: flex-end;
}

.delete {
  padding: 24px 48px;
  border-radius: 5%;
  margin-bottom: 16px;
}

form h3 {
  margin-bottom: 2px;
}

.margin {
  margin: 50px;
}

/* PostList page */

.postlist-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3em 1em;
  justify-items: center;
}

.postlist-grid img {
  object-fit: contain;
  margin: 0px, auto;
}

.postlist-whole{
  text-align: center;
}

.postlist-grid div {
  width: 25vw;
}

.postlist-grid iframe {
  width: 25vw;
}

.postlist-grid h2{
  margin-top: 0;
}

.postlist-grid h5{
  margin-bottom: 3px
}

.postlist-map{
  height: 150px;
  width: 180px;
}

.edit-delete{
  font-size: 14px;
}

/* map */

.text-box {
  background : #d1d1d1; 
  color: #293B5F;
}

.text-box h1 {
  margin-bottom: 0px
}

/* donation */

.donation-button {
  border-radius: 5px;
  padding: 10px;
  margin-top: 30px;
  font-family: 'Tajawal', sans-serif;
}

.donation-amount {
  border-radius: 20%;
  margin: 0 8px;
}

/* contact */

.contact p {
  margin-bottom: 2px
}

.contact button {
  padding: 12px 24px;
  border-radius: 10%;
  margin-top: 32px;
  display: flex;
}

.contact-message  {
  width: 350px;
  padding: 0 0 80px 0;
}

@media all and (max-width: 800px){
  .home {
    display: block;
    height: 91vh
  }

  .home-map {
    height: 40vh;
    width: 100vw
  }

  .search {
    width: 95vw;
    margin-bottom: 3px;
  }
}

@media all and (max-width: 600px){

  .postlist-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em 1em;
    justify-items: center;
  }

  .singlepost-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    justify-items: center;
    align-items: center;
  }

  
  .singlepost-content img {
    width: 45vw;
  }
  
  .singlepost-content iframe {
    width: 45vw;
  }
}


@media all and (max-width: 460px){
  .postlist-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3em 1em;
    justify-items: center;
  }

  .singlepost-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    justify-items: center;
    align-items: center;
  }

  .singlepost-content img {
    width: 85vw;
  }
  
  .singlepost-content iframe {
    width: 85vw;
  }
}
